*{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.homepage{
width: 1366px;
margin: 0 auto;
background-color: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);;
}
.menu{
    width: 1140px;
    height: 48px;
}
.button{
    display: flex;
    list-style-type: none; 
    justify-content: space-between;  
    padding-left: 113px;
    padding-top: 34px;
}
.top{
    display: flex;
}
.left-field{
    display: flex;
    flex-direction: column;
}
.tools{
    height: 148px;
    width: 504px;
    padding-top: 189px;
    padding-left: 113px;
}
.h_tools{
    font-weight: 300;
    font-size: 64px;
    line-height: 74px;
    color: #1F3F68;

}
.text_tools{
    width: 425px;
    height: 82px;
    padding-left: 114px;
    padding-top: 32px;

}
.p_tools{
    color: #1F3F68;
    font-size: 16px;
    line-height: 26px;

}
.button{
    padding-left: 114px;
    padding-top: 86px;

}
.img{
    margin-top: 158.84px;
    margin-left: -87.17px;


}
.image{
    width: 648.69px;
    height: 549.04px;
}